.mainbox
{
    height: 100vh;
    background-color: #020230;
 
    color: #fff;
}
.main
{
    background:linear-gradient(to bottom, rgba(0,0,0,0),  #020230), url("./assets/bg.jpg") center;
    background-size: cover;
    min-height: 100%;
    position: relative;
    background-repeat: no-repeat;
}

.prizeMoneyList
{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
}
.prizeMoneyList li {
  
   margin-bottom: 4px;
    padding: 3px;
    border-radius: 15px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: #efd86a;
    transition: .5s;
}
.prizeMoneyList li:hover,.prizeMoneyList li:active, .prizeMoneyList li.active
{
    background: #020230;
    color: #fff;    transition: .5s;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.prizeMoneyList .prizeMoneyListQuestion
{
    position: absolute;
    left: 20px;
    top: 2px;
}
.prizeMoneyList .prizeMoneyListAmount
{
    margin-left: 36%;
}
.questionBox
{

   position: absolute;
   bottom: 100px;
   width: 100%;
}
.questionBoxInner
{
position: relative;
}
.timer
{
     width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #9f7928;
    line-height: 107px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    background: #00275b;
    display: block;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -95px;
}
.questiontitle
{
   font-size: 20px;
    padding: 10px 30px;
    background: linear-gradient(to bottom, #002b65, #020230);
    border-radius: 50px; transition: .5s;
    text-align: center;
    border: 4px solid #9f7928;
    line-height: 34px;
    font-weight: 400;
 box-shadow: 1px 4px 46px -1px rgba(0,0,0,0.93) inset;
    position: relative;
    z-index: 2;
}
.answerbox
{
      font-size: 18px;
    padding: 10px 30px;
    background: linear-gradient(to bottom, #002b65, #020230);
    border-radius: 50px;
    border: 2px solid #9f7928;
    line-height: 34px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
  box-shadow: 1px 4px 46px -1px rgba(0,0,0,0.53) inset;  
    margin-bottom: 20px;;
}
.answerbox:hover,.answerbox:active, .answerbox.active
{
    transition: .5s;
    background: #020230;
   
    color: #fff;;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FDB931 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FDB931 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.answerbox.correct
{
     animation: correct 3s ease forwards;
}
@keyframes correct {
  0%,
  22%,
  42% {
   background: #020230;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#5d4a1f, #FDB931);
  }
  62%,
  100% {
    background: green;
  }
}
.answerbox.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
    0%,
  22%,
  42% {
   background: #020230;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#5d4a1f, #FDB931);
  }
  62%,
  100% {
    background: crimson;
  }
}
.earnmoneytext
{
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  text-align: center;
  padding: 30px 30px;
   background: #020230;
   border-radius: 80px;
     border: 5px solid #9f7928;
    color: #fff;;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FDB931 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FDB931 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

}